<!DOCTYPE html>
<html>
	<head>
		<title>{{titt}}</title>
	</head>
	<body>
		<header>
			{{> header/header}}	
		</header>
		<aside>
     		 {{> sidebar/sidebar}}
    	</aside>
		<main>
			{{{body}}}
		</main>
		<footer>
			footer
			{{> footer/footer}}
		</footer>
	</body>
</html>